<p id="notice"><%= notice %></p>

<p>
  <strong>Accepted symbol:</strong>
  <%= @plant.accepted_symbol %>
</p>

<p>
  <strong>Synonym symbol:</strong>
  <%= @plant.synonym_symbol %>
</p>

<p>
  <strong>Scientific name:</strong>
  <%= @plant.scientific_name %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @plant.common_name %>
</p>

<p>
  <strong>State:</strong>
  <%= @plant.state %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @plant.duration %>
</p>

<p>
  <strong>Growth habit:</strong>
  <%= @plant.growth_habit %>
</p>

<p>
  <strong>Native status:</strong>
  <%= @plant.native_status %>
</p>

<p>
  <strong>Growth period:</strong>
  <%= @plant.growth_period %>
</p>

<p>
  <strong>Flower color:</strong>
  <%= @plant.flower_color %>
</p>

<p>
  <strong>Flower conspicuous:</strong>
  <%= @plant.flower_conspicuous %>
</p>

<p>
  <strong>Height mature:</strong>
  <%= @plant.height_mature %>
</p>

<p>
  <strong>Lifespan:</strong>
  <%= @plant.lifespan %>
</p>

<p>
  <strong>Drought tolerance:</strong>
  <%= @plant.drought_tolerance %>
</p>

<p>
  <strong>Shade tolerance:</strong>
  <%= @plant.shade_tolerance %>
</p>

<p>
  <strong>Bloom period:</strong>
  <%= @plant.bloom_period %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
