<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :plant_id %><br>
    <%= f.number_field :plant_id %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :instructions %><br>
    <%= f.text_field :instructions %>
  </div>
  <div class="field">
    <%= f.label :upkeep %><br>
    <%= f.text_field :upkeep %>
  </div>
  <div class="field">
    <%= f.label :benifits %><br>
    <%= f.text_field :benifits %>
  </div>
  <div class="field">
    <%= f.label :tips %><br>
    <%= f.text_field :tips %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
